* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }

  
.head {
    height: 100px;
    background-color: #f3e9f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    &__image {
        width: 30%;
        margin-left: 20px;
    }
    &__basket {
        color: black;
        margin-right: 25px;
        font-size: 20px;
        &:hover {
            color: red;
        }
    }
}

.main {
    display: flex;
    &__template {
        width: 30%;
        border: 2px solid black;
    }
    &__preimage {
        width: 30%;
    }
}

.basket {
    width: 80%;
    padding: 5%;
    padding-top: 5px;
    margin: 0 auto;
    background-color:aqua;
    &__empty {
        text-align: center;
        font-size: 2em;
        font-weight: bold;
    }
    &__card {
        border: 2px solid black;
        display: flex;
        padding: 10px;
        margin-top: 20px;
        justify-content: space-between;
        & ,p {
            align-items: center;
        }
        &--price {
            display: flex;
            align-items: center;
        }
        &--button {
            padding: 5px;
            margin-left: 20px;
        }
    }
}